aria2/
/coc/
/ssh/
/configstore/
export/*License/
karabiner/automatic_backups/
karabiner/karabiner.json
nvim/plugged/
nvim/coc_data/
Rime/*/
Rime/*dict.yaml
Rime/*schema.yaml
ShadowsocksX-NG/gfwlist.js
tmux/*/
tmux/*.log
!tmux/themes
!vifm
vifm/*
!vifm/vifmrc
zsh/.zcompdump*
zsh/aliasrc
ranger/plugins/
zsh/plugins/
