aria2/aria2.session
/coc/
/ssh/
/configstore/
export/*License/
/karabiner/
nvim/plugged/
Rime/*/
Rime/*dict.yaml
Rime/*schema.yaml
ShadowsocksX-NG/gfwlist.js
tmux/*/
tmux/*.log
!tmux/themes
!vifm
vifm/*
!vifm/vifmrc
zsh/.zcompdump*
zsh/aliasrc
ranger/plugins/
zsh/plugins/
