[submodule "nvim-colorizer.lua"]
	ignore = dirty
	path = config/nvim/pack/bundle/opt/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "vim-fugitive"]
	path = config/nvim/pack/bundle/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-repeat"]
	path = config/nvim/pack/bundle/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-sneak"]
	path = config/nvim/pack/bundle/opt/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vim-pathogen"]
	path = config/nvim/pack/bundle/opt/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-eunuch"]
	path = config/nvim/pack/bundle/opt/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim-easy-align"]
	path = config/nvim/pack/bundle/opt/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim-markdown"]
	path = config/nvim/pack/bundle/opt/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vifm.vim"]
	path = config/nvim/pack/bundle/opt/vifm.vim
	url = https://github.com/vifm/vifm.vim
[submodule "zsh-autosuggestions"]
	path = config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "fzf"]
	path = config/zsh/plugins/fzf
	url = https://github.com/junegunn/fzf
[submodule "fzf.vim"]
	path = config/nvim/pack/bundle/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "rime"]
	path = local/apps/rime
	url = https://github.com/alexluigit/rime
[submodule "ultisnips"]
	path = config/nvim/pack/bundle/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "tcomment_vim"]
	path = config/nvim/pack/bundle/opt/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "vim-dispatch"]
	path = config/nvim/pack/bundle/opt/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim-projectionist"]
	path = config/nvim/pack/bundle/opt/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "coc.nvim"]
	path = config/nvim/pack/bundle/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "vim-textobj-user"]
	path = config/nvim/pack/bundle/opt/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "vim-textobj-quotes"]
	ignore = untracked
	path = config/nvim/pack/bundle/opt/vim-textobj-quotes
	url = https://github.com/beloglazov/vim-textobj-quotes
[submodule "vim-textobj-indent"]
	ignore = untracked
	path = config/nvim/pack/bundle/opt/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent
[submodule "vim-textobj-comment"]
	ignore = untracked
	path = config/nvim/pack/bundle/opt/vim-textobj-comment
	url = https://github.com/glts/vim-textobj-comment
[submodule "z"]
	path = config/zsh/plugins/z
	url = https://github.com/rupa/z
[submodule "browser-playerctl"]
	ignore = dirty
	path = local/apps/browser-playerctl
	url = https://github.com/alexluigit/browser-playerctl
[submodule "vb4c"]
	path = local/apps/vb4c
	url = https://github.com/alexluigit/vb4c
[submodule "vim-polyglot"]
	path = config/nvim/pack/bundle/opt/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim-surround"]
	path = config/nvim/pack/bundle/opt/vim-surround
	url = https://github.com/alexluigit/vim-surround
[submodule "vim-slime"]
	path = config/nvim/pack/bundle/opt/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule "vim-buftabline"]
	path = config/nvim/pack/bundle/opt/vim-buftabline
	url = https://github.com/ap/vim-buftabline
