aria2/
ssh/
export/*License/
karabiner/.config/karabiner/automatic_backups/
karabiner/.config/karabiner/karabiner.json
nvim/.config/nvim/coc/*
!nvim/.config/nvim/coc/ultisnips
nvim/.config/nvim/.netrwhist
Rime/Rime/*/
Rime/Rime/*dict.yaml
Rime/Rime/*schema.yaml
Rime/Rime/user.yaml
scripts/bin/*/
!scripts/bin/scripts/
tmux/.config/tmux/plugins/
tmux/.config/tmux/saved-session/
vifm/.config/vifm/*
!vifm/.config/vifm/vifmrc
zsh/.config/zsh/.zcompdump*
zsh/.config/zsh/plugins/
zsh/.config/zsh/cache/
ranger/.config/ranger/plugins/
*.pyc
