[submodule "rime"]
	path = config/rime
	url = https://github.com/alexluigit/rime
[submodule "nvim"]
	path = config/nvim
	url = https://github.com/alexluigit/nvim
[submodule "murl"]
	path = local/bin/programs/murl
	url = https://github.com/alexluigit/murl
[submodule "floatwin"]
	path = local/bin/programs/floatwin
	url = https://github.com/alexluigit/floatwin
[submodule "awerice"]
	path = config/awesome
	url = https://github.com/alexluigit/awerice
[submodule "emacs-grandview"]
	path = config/emacs
	url = https://www.github.com/alexluigit/emacs-grandview
[submodule "hid-apple-patched"]
	path = config/hid-apple-patched
	url = https://www.github.com/alexluigit/hid-apple-patched
