[submodule "onedark"]
	path = nvim/.config/nvim/pack/bundle/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "nvim-colorizer"]
        ignore = dirty
	path = nvim/.config/nvim/pack/bundle/opt/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "vim-floaterm"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule "vim-surround"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-fugitive"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-commentary"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim-repeat"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-sneak"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vim-devicons"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "auto-pairs"]
	path = nvim/.config/nvim/pack/bundle/opt/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "fzf"]
	path = nvim/.config/nvim/pack/bundle/opt/fzf
	url = https://github.com/junegunn/fzf
[submodule "fzf.vim"]
        ignore = dirty
	path = nvim/.config/nvim/pack/bundle/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "coc.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "vim-pathogen"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "ranger"]
	path = nvim/.config/nvim/pack/bundle/opt/ranger
	url = https://github.com/kevinhwang91/rnvimr
[submodule "vim-dirvish"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "vim-unimpaired"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim-markdown"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "ultisnips"]
	path = nvim/.config/nvim/pack/bundle/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "tabular"]
	path = nvim/.config/nvim/pack/bundle/opt/tabular
	url = https://github.com/godlygeek/tabular
