#!/bin/sh
typeset -A mappings=(
  [Alt+E]="xdotool keyup e key --clearmodifiers Up"
  [Alt+N]="xdotool keyup n key --clearmodifiers Down"
  [Delete]="send_key '\[F12]'"
  [F7]="exec music-control previous"
  [F8]="exec music-control play-pause"
  [F9]="exec music-control next"
  [F10]="exec volumectl mute"
  [F11]="exec volumectl down"
  [F12]="exec volumectl up"
  [Hyper+Control+E]="xdo move -y -20"
  [Hyper+Control+H]="xdo move -x -20"
  [Hyper+Control+I]="xdo move -x +20"
  [Hyper+Control+N]="xdo move -y +20"
  [Super+Delete]="multilockscreen -s"
  [Super+Escape]="exec ~/.config/rofi/scripts/powermenu"
  [Super+Return]="exec floatwin -t -d $FMENU_DIMENSION fmenu"
  [Mouse1]="send_key '\Cx'"
  [Mouse2]="send_key '\Aa'"
  [Super+A]="rofi -show drun -theme ~/.config/rofi/themes/launcher.rasi"
  [Super+E]="xvimux north"
  [Super+H]="xvimux west"
  [Super+I]="xvimux east"
  [Super+L]="exec floatwin -t -d 1920x2160+0+0 lfrun"
  [Super+M]="exec floatwin -t -d 1500x600+10+60 ncmpcpp"
  [Super+N]="xvimux south"
  [Super+Q]="xdo close"
  [Super+R]="rofi -show run -theme ~/.config/rofi/themes/dmenu.rasi"
  [Super+T]="exec alacritty"
  [Super+V]="paste"
  [Super+W]="exec bravectl start"
  [Super+X]="send_key '\Ax'"
  [SuperO+A]="notify-send.py $(xdotool getwindowfocus) hello"
  [SuperO+C]="sleep 0.2 && xdotool click 1"
  [SuperO+D]="exec bravectl dev"
  [SuperO+E]="run_emacs"
  [SuperO+N]="nautilus"
  [SuperO+S]="flameshot full -p ~/Pictures/screenshots"
  [SuperO+T]="~/.config/rofi/scripts/sessions"
  [SuperO+V]="exec floatwin -b murl -c mpv -i gl -d 960x540+2870+60 murl temp"
  [Super+Control+Q]="xdo kill"
  [Super+Control+W]="exec bravectl inco"
)
