declare -A mappings=(
  [Alt+E]="key '\[Up]'"
  [Alt+N]="key '\[Down]'"
  [Delete]="send_key '\[F12]'"
  [F7]="playerctl -p mpd previous"
  [F8]="playerctl -p mpd play-pause"
  [F9]="playerctl -p mpd next"
  [F10]="volumectl mute"
  [F11]="volumectl down"
  [F12]="volumectl up"
  [Hyper+Super+H]="xdo move -x -20"
  [Hyper+Super+N]="xdo move -y +20"
  [Hyper+Super+E]="xdo move -y -20"
  [Hyper+Super+I]="xdo move -x +20"
  [Super+Delete]="multilockscreen -s"
  [Super+Escape]="~/.config/rofi/scripts/powermenu"
  [Super+Return]="floatwin -t -d 1920x1080+960+60 fmenu true"
  [Mouse1]="key '\Cx'"
  [Mouse2]="key '\Aa'"
  [Super+A]="rofi -show drun -theme ~/.config/rofi/themes/launcher.rasi"
  [Super+L]="floatwin -t -d 1920x2160+0+0 lfrun"
  [Super+M]="floatwin -t -d 1500x600+10+60 ncmpcpp"
  [Super+P]="paste"
  [Super+Q]="xdo close"
  [Super+R]="rofi -show run -theme ~/.config/rofi/themes/dmenu.rasi"
  [Super+T]="test `bspc query -T -d | jq -r .layout` == tiled || bspc desktop -l next; exec alacritty"
  [Super+V]="murl toggle"
  [Super+W]="exec bravectl start"
  [Super+X]="send_key '\Ax'"
  [SuperO+A]="notify-send "FocusWID" "`xdotool getwindowfocus`""
  [SuperO+C]="sleep 0.2 && xdotool click 1"
  [SuperO+D]="exec bravectl dev"
  [SuperO+E]="lof Emacs emacsclient -c"
  [SuperO+H]="floatwin -t -d 1920x2160+0+0 htop"
  [SuperO+N]="nautilus"
  [SuperO+S]="flameshot full -p ~/Pictures/screenshots"
  [SuperO+T]="~/.config/rofi/scripts/sessions"
  [SuperO+V]="murl main"
  [Super+Control+Q]="xdo kill"
  [Super+Control+W]="exec bravectl inco"
)
# vim:ft=sh
