/************************
* IBus Candidate Popup *
************************/
.candidate-popup-content {
padding: 0.5em;
spacing: 0.3em; }

.candidate-index {
padding: 0 0.5em 0 0;
color: #333333; }

.candidate-box {
transition-duration: 0s;
padding: 0.3em 0.5em 0.3em 0.5em;
border-radius: 2px; }
.candidate-box:hover {
background-color: rgba(236, 239, 241, 0.2);
color: #5d585d; }
.candidate-box:active, .candidate-box:selected {
background-color: rgba(148, 211, 255, 1);
color: #131313; }

.candidate-page-button-box {
height: 2em; }
.vertical .candidate-page-button-box {
padding-top: 0.5em; }
.horizontal .candidate-page-button-box {
padding-left: 0.5em; }

.candidate-page-button {
padding: 4px;
color: rgba(77, 182, 172, 0.8); }
.candidate-page-button:hover {
background-color: rgba(77, 182, 172, 0.1);
color: #4DB6AC; }
.candidate-page-button:active {
background-color: rgba(77, 182, 172, 0.25);
color: #4DB6AC; }

.candidate-page-button-previous {
border-radius: 2px;
border-right-width: 0; }

.candidate-page-button-next {
border-radius: 2px; }

.candidate-page-button-icon {
icon-size: 14px; }
