[Desktop Entry]
Name=Kid3
Exec=kid3 %F
Icon=kid3
Type=Application
X-DocPath=kid3/index.html
MimeType=audio/mpeg;audio/ogg;application/ogg;audio/x-flac;audio/x-flac+ogg;audio/x-vorbis+ogg;audio/x-speex+ogg;audio/x-oggflac;audio/x-musepack;audio/aac;audio/mp4;audio/x-speex;audio/x-tta;audio/x-wavpack;audio/x-aiff;audio/x-it;audio/x-mod;audio/x-s3m;audio/x-ms-wma;audio/x-wav;audio/x-xm;audio/opus;audio/x-opus+ogg;audio/x-dsf;inode/directory;
GenericName=Audio Tagger
Comment=Edit audio file metadata
Terminal=false
Categories=Qt;KDE;AudioVideo;Audio;AudioVideoEditing;
StartupNotify=true
StartupWMClass=kid3
Keywords=audio;id3;tag;editor;id3v1;id3v2;mp3;
